@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #363537;
    color: #FFFFFF;
    padding: 170px 30px 80px;
    text-align: center;
}


.title {
    margin: 40px 0px 0px;
    font-size: 80px;
}

.title_disc_after {
    margin: 0px 0px 50px;
}

/* 見出しのマージン初期化 */
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

/* 段落のマージン初期化 */
p {
    margin-top: 0;
    line-height: 1.6;
}

/* 画像のマージン初期化 */
img {
    vertical-align: bottom;
}
