@charset "UTF-8";

/* 見出しのマージン初期化 */
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

/* 段落のマージン初期化 */
p {
    margin-top: 0;
    line-height: 1.6;
}

/* 画像のマージン初期化 */
img {
    vertical-align: bottom;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #363537;
}

header {
    background-color: #363537;
    color: #FFFFFF;
    padding: 170px 30px 80px;
    text-align: center;
}


.title {
    margin: 40px 0px 0px;
    font-size: 80px;
}

.title_disc_after {
    margin: 0px 0px 50px;
}

.title_button_01 {
    background-color: #F4B393;
    width: 200px;
    border-radius: 4px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
}

.title_button_02 {
    background-color: #AAFAC8;
    width: 200px;
    border-radius: 4px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
}

.aboutme {
    font-size: 18px;
    background-color: #EFECCA; 
    padding: 100px 50px 70px;
    text-align: center;

}

.aboutme h2 {
    font-size: 40px;
    margin-bottom: 80px;
    display: inline-block;
    border-bottom: double 6px black;
}

.works {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #363537; 
    text-align: center;
    padding: 100px 50px 70px;
}

.works h2 {
    font-size: 40px;
    margin-bottom: 80px;
    display: inline-block;
    border-bottom: double 6px white;
}

.myskills {
    font-size: 18px;
    background-color: #EFECCA; 
    text-align: center;
    padding: 100px 50px 90px;

}

.myskills h2 {
    font-size: 40px;
    margin-bottom: 80px;
    display: inline-block;
    border-bottom: double 6px black;
}

.skills_wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
}

.skills_box {
    display: table-cell;
}

.skill_title {
    margin: 0 20px 20px;
    font-size: 20px;
}

.skill_text {
    margin: 0 20px;
    line-height: 2;
}
.skill_icon {
    width: 150px;
    height: 83px;
    color: #f1b400;
    margin-bottom: 20px;
    font-size: 80px;
}

.contact {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #363537; 
    text-align: center;
    padding: 100px 50px 70px;
}

.contact h2 {
    font-size: 40px;
    margin-bottom: 80px;
    display: inline-block;
    border-bottom: double 6px white;
}

.contact{
    padding:80px 0 150px;
}

.contact-form{
    width:50%;
    margin:50px auto 0;
  }

.contact-form textarea{
    height:150px;
}

.contact-form input[type=text], .contact-form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.05);
    border-radius: 0;
    color: #fff;
}

.contact-form input[type=submit] {
    display: block;
    margin: 40px auto 0;
    padding: 15px;
    width: 200px;
    background-color: transparent;
    border-radius: 5px;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}